/** Variables setup  */
:root {
  --heading: Typographica;
  --prycol: #f9d801;
  --grey-col: #181818;
  --subtitle: "Montserrat", sans-serif;
  --paragraph: "Montserrat", sans-serif;
  --pulse: pulse 2s ease-in-out 2s infinite;
}


::selection {
  color: var(--grey-col);
  background-color: white;
}


@font-face {
  font-family: Typographica;
  src: url(fonts/TypoGraphica.otf);
}

@font-face {
  font-family: Nexa-font;
  src: url(fonts/NexaRegular.otf);
}

:root::-webkit-scrollbar {
  border: none;
  width: 7px;
  height: 7px;
}

:root::-webkit-scrollbar-track {
  background: #181818;
}

:root::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--prycol);
}

:root::-webkit-scrollbar-thumb:hover {
  color: #463d00;
}

:root::-webkit-scrollbar-button {
  display: none;

}

body {
  background-image: linear-gradient(90deg, #181818, #161616);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.3s;
  cursor: url(assets/aicursor.png), auto;
  overflow-x: hidden;
}











/** Navigation */
.navbar {
  background-color: rgba(0, 0, 0, 0.152);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.067);
  transition: all ease-in-out 0.3s;
  z-index: 99;
}

.navbar-desktop {
  --_animationStartsAfter: 50vh;
  --_animationDistance: 200px;

  position: sticky;
  background: none;
  backdrop-filter: none;
  box-shadow: none;
  top: -5rem;
  width: var(--_headerWidth, auto);

  animation: stickyNav linear forwards;
  animation-timeline: view();
  animation-range-start: calc(100dvh + var(--_animationStartsAfter));
  animation-range-end: calc(100dvh + var(--_animationStartsAfter) + var(--_animationDistance));
}

@keyframes stickyNav {

  0%,
  100% {
    --_headerWidth: fit-content;
    --_logoDisplay: none;
  }

  100% {
    margin: auto;

    top: .5rem;
    background-color: rgba(0, 0, 0, 0.152);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.067);
    border-radius: 5px;
  }
}

.navbar-brand {
  cursor: url(assets/aicursor\ pointer.png), pointer;
  display: var(--_logoDisplay, block);
}

.logo {
  height: 35px;
  transition: all ease-in-out 0.2s;
}

.logo:hover {
  filter: drop-shadow(0px 0px 25px #f9d801);
  cursor: url(assets/aicursor\ pointer.png), pointer;
}

a.nav-link {
  color: white;
  font-size: 14px;
  display: inline-block;
  position: relative;
  transition: ease-in-out 0.3s;
  font-family: var(--paragraph);
  font-weight: 200;
  cursor: url(assets/aicursor\ pointer.png), pointer;
}

a.nav-link:hover {
  color: var(--prycol);
}

.active-link {
  font-weight: 400 !important;
  color: var(--prycol) !important;
  text-shadow: 0px 0px 8px #f9d8019a;
}

a.nav-link:active {
  color: #b19a00;
}

a.nav-link:focus {
  color: var(--prycol);
}

a.nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--prycol);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a.nav-link:hover::after {
  width: 100%;
  left: 0;
}

a.nav-link:active::after {
  width: 50%;
  left: 0;
}










/** Typography */
/* Typographica heading and sub-heading */
.heading {
  font-family: var(--heading);
  font-size: 60px;
  color: var(--prycol);
  line-height: 3.5rem;
}

.heading-dark {
  font-family: var(--heading);
  font-size: 60px;
  color: var(--grey-col);
  line-height: 3.5rem;

}

.sub-heading {
  font-family: var(--heading);
  font-size: 40px;
  color: var(--prycol);
  line-height: 3rem;

}

.sub-heading-dark {
  font-family: var(--heading);
  font-size: 40px;
  line-height: 3rem;

}

/* Montserrat title, subtitle, paragraph */
.sub-title {
  font-family: var(--subtitle);
  font-weight: 500;
  color: white;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.sub-title-dark {
  font-family: var(--subtitle);
  font-weight: 500;
  color: var(--grey-col);
  font-size: 18px;
  letter-spacing: 0.5px;

}

.paragraph {
  font-family: var(--paragraph);
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7rem;
  letter-spacing: 0.5px;
  opacity: 0.95;

}

.paragraph-dark {
  font-family: var(--paragraph);
  color: var(--grey-col);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.7rem;
}

/* If the screen size is smaller than 991px, adjust the font-sizes*/
@media (max-width: 991px) {
  .heading, .heading-dark {
    font-size: 50px;
  }

  .sub-heading, .sub-heading-dark {
    font-size: 30px;
  }

  .sub-title, .sub-heading-dark {
    font-size: 16px;
  }

  .paragraph, .paragraph-dark {
    font-size: 12px;
  }

  .israel-img {
    height: 350px;
  }
}











/** Buttons */
.pulse {
  animation: var(--pulse);
}

.btn-pry {
  font-family: var(--paragraph);
  font-weight: 700;
  letter-spacing: -0.5px;
  text-decoration: none;
  color: #181818;
  background-color: var(--prycol);
  border-radius: 3px;
  padding: 0.7rem 1.5rem;
  animation: var(--pulse);
  transition: all ease-in-out 0.3s;
  cursor: url(assets/aicursor\ pointer.png), pointer;

  &:hover {
    box-shadow: 0 0 20px #f9d80192;
    animation: none;
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 0 0 20px #f9d8013c;
    animation: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 10px #f9d801b8;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 34px #f9d80100;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #f9d80100;
  }
}

.btn-sec {
  padding: 0.7rem 1.5rem;
  position: relative;
  font-weight: 600;
  font-family: var(--paragraph);
  color: var(--prycol);
  box-sizing: border-box;
  border: 1px var(--prycol) solid;
  text-decoration: none;
  overflow: hidden;
  background: none;
  z-index: 1;
  transition: 0.3s ease-in-out;
  cursor: url(assets/aicursor\ pointer.png), pointer;

  &:hover {
    color: #181818;
    box-shadow: 0 0 20px #f9d80192;
    animation: none;
  }

  &:before {
    content: "";
    position: absolute;
    background: var(--prycol);
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    transition: right 0.4s ease-in-out;
  }

  &:hover:before {
    right: 0;
  }

  &:active {
    color: #181818;
    box-shadow: 0 0 15px #f9d80157;
    animation: none;
  }

  &:active:before {
    transition: all ease-in-out 0.2s;
    right: 10%;
  }

}










.intro-section {
  padding: 50px 3em;
}

.what-i-do-section {
  padding-inline: 3em;

}

.about-section {
  padding-inline: 3em;
  transition: all ease-in-out 0.3s;
}


.tools {
  font-size: 12px;
  padding: 0.3rem 0.8rem;
  margin: 0;
  border-radius: 3px;
  background-color: #222222;
  transition: all ease-in-out 0.3s;
}


@media (max-width: 991px) {
  .tools {
    font-size: 10px;
  }
}

.toast,
.toast-header {
  background-color: #181818;
}

.israel-img {
  height: 400px;
  transition: all ease-in-out 0.5s;
  /* animation-delay: 2s; */

  &.israel-img:hover {
    animation: glow 2s infinite;
  }
}

@media only screen and (max-width: 991px) {
  .israel-img {
    display: none;
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px #f9d8018b);
  }

  70% {
    filter: drop-shadow(0 0 40px #f9d80100);
  }

  100% {
    filter: drop-shadow(0 0 0 0 #f9d80100);
  }
}

.projects-completed {
  background-color: var(--prycol);
  transition: all ease-in-out 0.3s;
  cursor: url(assets/aicursordark.png), auto;
}













.work-section {
  padding-inline: 3em;
}

.portfolio-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.cardd {
  background-size: cover;
  padding: 8rem 0 0 ;
  aspect-ratio: 16/9;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.card-title {
  line-height: 1rem;
  margin: 0;
  opacity: 0;
  transition: opacity .5s ease-in-out .25s;
}

.card-body {
  margin: 0;  
  opacity: 0;
  transition: opacity .5s ease-in-out .35s;
}

.card-content {
  transform: translateY(100%);
  padding: 1.5em;
  height: 120px;
  background:linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.8),
    black
  );
  transition: transform 0.5s ease;

}

.cardd:hover{
  /* border: 1px solid white; */
  box-shadow: 0px 10px 20px #00000048;
  background-size: 102%;
}

.cardd:hover .card-content {
  transform: translateY(-20%);
  
}

.cardd:hover .card-title {
  opacity: 1;
}

.cardd:hover .card-body {
  opacity: 1;
}

.portfolio-link {
  text-decoration: none;
  cursor: url(assets/aicursor\ pointer.png), pointer;
}








/* Clients i've worked with */

.scroller {
  margin: auto;
  max-width: 60vw;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
  flex-wrap: nowrap;
  animation: scrolling-logo 100s linear infinite;
  width: max-content;
}

.scroller-inner {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

@keyframes scrolling-logo {
  to {
    transform: translate(calc(-50% + 0.8rem));
  }
}

.tags {
  margin: 0;
  list-style: none;
}

.client-logo {
  height: 40px;
}











.customer-reviews {
  padding-inline: 3rem;
}

.testimonial-dp {
  height: 100px;
  border-radius: 3px;
}

.review-text > p {
  width: 40vw;
}

@media (max-width: 991px) {
  .review-text > p {
    width: 70vw;
  }
}

.fa-star {
  color: var(--prycol);
}


.carousel-indicators-button {
  height: 7px !important;
  width: 7px !important;
  border-radius: 50%;
  background-color: transparent !important;
  border: 2px solid var(--prycol) !important;

}
.carousel-indicators > .active {
  background-color: var(--prycol) !important;

}














.enquiry-form {
  cursor: url(assets/aicursor.png), auto;
  transition: all ease-in-out 0.3s;
  cursor: url(assets/aicursor.png), auto;
}


.form-card {
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
  transition: all ease-in-out 0.2s;

  &:hover {
    box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.104);
  }
}

.enq-form-name,
.enq-form-email {
  border: 1px solid white;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
  color: white;
}

.enq-form-message {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
  color: white;
}

.enq-form-name:hover,
.enq-form-email:hover,
.enq-form-message:hover {
  box-shadow: 0 0 20px #f9d8013c;
  color: #f9d801;
}

.enq-form-name:active,
.enq-form-email:active,
.enq-form-message:active {
  box-shadow: 0 0 20px #f9d8013c;
}

.enq-form-name:focus-visible,
.enq-form-email:focus-visible,
.enq-form-message:focus-visible {
  box-shadow: 0 0 20px #f9d8013c;
}

/* Text Area Scroller */
#enq-description::-webkit-scrollbar {
  border: none;
  width: 7px;
  height: 7px;
}

#enq-description::-webkit-scrollbar-track {
  background: #181818;
}

#enq-description::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--prycol);
}

#enq-description::-webkit-scrollbar-thumb:hover {
  color: #463d00;
}

#enq-descriptiont::-webkit-scrollbar-button {
  display: none;
}




hr {
  color: rgba(255, 255, 255, 0.44);
  width: 80vw;
  margin: auto;
}

.footer {
  padding-inline: 3rem;
}

.footer-icon {
  height: 70px;
  transition: all ease-in-out 0.3s;
}

.footer-icon:hover {
  filter: drop-shadow(0px 0px 25px #f9d801);
  cursor: url(assets/aicursor\ pointer.png), pointer;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.footer-logo:hover {
  filter: drop-shadow(0px 0px 25px #f9d801);
  cursor: url(assets/aicursor\ pointer.png), pointer;
}

.footer-paragraph {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.1rem;
  transition: all ease-in-out 0.2s;
  text-decoration: underline dotted;

}

.footer-paragraph:hover  {
  color: var(--prycol);
}


.footer-socials {
  font-size: 24px;
  color: white;
  opacity: 0.8;
  transition: all ease-in-out 0.2s;
}

.footer-socials:hover {
  opacity: 1;
  color: var(--prycol);
}




/* Preloader & Components */

.welcome-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeIn 3s ease forwards, fadeOut 1s ease-in-out forwards 4s;
}

@media (max-width: 800px) {
  .welcome-text {
    top: 32%;
  }
}

.logo-svg {
  stroke-width: 3px;
  stroke: #f9d801;
  stroke-dasharray: 350px;
  stroke-dashoffset: 350px;
  width: 70vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  fill: transparent;
  animation: lineAnim 2s ease-in-out forwards 1s, fillAnim 0.5s ease-in-out forwards 3s, fadeOut 1s ease-in-out forwards 4s;
}

@keyframes lineAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillAnim {
  to {
    fill: #f9d801;
    stroke: transparent;
  }
}

.spinner {
  display: flex;
  justify-content: center;
}

#spinner {
  margin-top: 40vh;
  align-self: center;
  animation: spin 1s linear infinite;
}

.spinner-img {
  height: 50px;
  filter: drop-shadow(0px 0px 10px #f9d801);
  animation: expand 2s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
    transform-origin: center;
    filter: none;
  }

  50% {
    transform: scale(1.4);
    transform-origin: center;
    filter: blur(2px);
  }

  100% {
    transform: scale(1);
    transform-origin: center;
    filter: none;
  }
}

/* Glow Cursor */
.glow-cursor {
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f9d801;
  filter: blur(150px);
  mix-blend-mode: screen;
  z-index: 9999;
  /* Glowing effect */
  pointer-events: none;
  /* Allow interaction with underlying elements */
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease all 0.3s ease-in-out;
}

/* If the screen size is smaller than 995px, remove glow cursor */
@media (max-width: 992px) {
  .glow-cursor {
    opacity: 0;
  }
}
